.nav {
  grid-area: nav;
  background-color: #06002a;
  padding: 15px 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    &:hover{
      background-color: rgb(158, 106, 10);
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      &:last-child{
        padding: 40px 0 10px;
      }
    }
  }
}