.dialog a {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #06002a;
  box-shadow: 0 0 5px #bfbfbf;
  border-radius: 5px;
  cursor: pointer;
}

.dialog:not(:last-child) {
  margin-bottom: 20px;
}

.dialog a:hover {
  background-color: #473005;
  color: white;
}

.dialog .active {
  background-color: #9e6a0a;
  color: white;
}

.dialog img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  border-radius: 50%;
}