.app-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "nav main-content";
  -ms-grid-rows: minmax(70px) 1fr;
      grid-template-rows: minmax(70px) 1fr;
  -ms-grid-columns: 2fr 10fr;
      grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
