.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "nav main-content";
  grid-template-rows: minmax(70px) 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.btn {
  display: block;
  padding: 10px 55px;
  font-size: 18px;
  color: white;
  background-color: #06002a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




