.dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;
 grid-gap: 15px;
}

.dialogsItems {
  padding-right: 15px;
  border-right: 2px solid #06002a;;
}

.dialogsItems .active {
  background-color: #9e6a0a;
  color: white;
}

.dialog {
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 0 5px #bfbfbf;
  border-radius: 5px;
  cursor: pointer;
}

.dialog:not(:last-child) {
  margin-bottom: 20px;
}

.dialog:hover {
  background-color: #473005;
  color: white;
}

.message {
  box-shadow: 0 0 5px #bfbfbf;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
